[project]
	description = example for class
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jmzaleski
[access "refs/for/refs/*"]
	read = group user/jmzaleski
	push = group user/jmzaleski
	label-Code-Review = -2..+2 group user/jmzaleski
	label-Verified = -1..+1 group user/jmzaleski
	rebase = group user/jmzaleski
	removeReviewer = group user/jmzaleski
	submit = group user/jmzaleski
[access "refs/heads/*"]
	read = group user/jmzaleski
	create = group user/jmzaleski
	push = +force group user/jmzaleski
	pushMerge = group user/jmzaleski
[access "refs/tags/*"]
	push = +force group user/jmzaleski
	pushTag = group user/jmzaleski
	pushSignedTag = group user/jmzaleski
